.vehicleImage {
    width: 100%;
    height: auto;
    margin: 0.5rem;
}

.vehicleName {
    font-size: 3rem;
    margin: 0.5rem;
}

.vehicleStatus {
    font-size: 1.3rem;
    margin: 0.5rem;
    text-transform: uppercase;
    background: var(--bs-success);
    color: white;
    min-width: 150px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 0.35rem;
}

.vehicleStatusDanger {
    font-size: 1.3rem;
    margin: 0.5rem;
    text-transform: uppercase;
    background: var(--bs-danger);
    color: white;
    min-width: 150px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 0.35rem;
}

.vehicleType {
    font-size: 1.3rem;
    margin: 0.5rem;
    text-transform: uppercase;
    background:  burlywood;
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 0.35rem;
    margin: 0.5rem;
}

.vehiclePrice {
    margin: 0.5rem;
    font-size: 2.5rem;
    font-weight: lighter;
    text-transform: 500;
    text-transform: uppercase;
}

.paymentSuccessMessage {
    max-width: 500px; 
    width: 100%; 
    margin: auto;
}

.orderDetails {
    display: inline-grid; column-gap: 0.5rem; row-gap: 0.5rem; grid-template-columns: repeat(2,auto);
}